@import url('https://fonts.googleapis.com/css?family=Livvic|Oswald&display=swap');

/* index page */
.intro{
    background-color: 
    #fff1c1;
    text-align: center;
    padding-bottom: 50vh;
    padding-top: 50vh;
}
#name{
font-family: 'Oswald', sans-serif;
text-align: center;
}
#title{
font-family: 'Livvic', sans-serif;
text-align: center;
}

/* other sites */
header{
    background-color: 
    #fff1c1;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer{
    background-color: 
    #fff1c1;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* projects */
#project1{
    background-color: #216583;
    
}
#project2{
    background-color: #f76262;
}
#project3{
    background-color: #216583;
}
#project4{
    background-color: #f76262;
}
#project5{
    background-color: #216583;
}
.uk-card-body{
    color: white;
}
h3.uk-card-title{
    color: white;
}
/* About me */
#aboutmeLine1{
    background-color: #293462;
    text-align: center;
}
#icons{
    padding-right: 15px;
}